body {
    font-family: Arial;
    padding: 20px;
    background: #f5f5f5;
}

textarea {
    width: 100%;
    height: 150px;
}

select, button {
    margin-top: 10px;
    padding: 5px;
}

pre {
    background: black;
    color: lime;
    padding: 10px;
    min-height: 60px;
}
#explanation {
    color: black !important;
    background: #eaeaea;
}


